@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color: #BE3D2A;
  --secondary-color: #E78B48;
  --background-color: #FFFFFF;
  --text-color: #333333;
  --surface-color: #102E50;
  --accent-color: #F5C45E;
  --font-family: "Urbanist", sans-serif;
  --color-negro: #000000;
  --color-gris-claro: #CCCCCC;
  --espacio-seccion: 90px;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
}

h1 {
  font-size: 4rem;
  font-weight: 200;
  letter-spacing: -3px;
}

h2 {
  font-size: 2.5rem;
  font-weight: 900;
  letter-spacing: -2px;
  text-transform: lowercase;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.padded {
  padding-top: var(--espacio-seccion);
  padding-bottom: var(--espacio-seccion);
}

#nosotros {
  background-color: var(--surface-color);
  color: var(--background-color);
}

#historia {
  background-color: var(--secondary-color);
  color: var(--color-negro);
}

#main-footer {
  background-color: var(--text-color);
  color: var(--color-gris-claro);
  padding: 45px 0;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  box-shadow: 0 -3px var(--accent-color);
}

.carousel-caption {
  background: radial-gradient(ellipse 50% 100% at 50% 100%, rgba(0, 0, 0, .8) 0%, rgba(0, 0, 0, .5) 35%, transparent 80%);
  bottom: 0;
}

.carousel-caption h5 {
  font-weight: 900;
  font-size: 3rem;
  text-shadow: 2px 2px #000;
}

.carousel-indicators {
  margin-bottom: 0.25rem;
}

.carousel-indicators [data-bs-target] {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--primary-color);
}

.carousel-indicators [data-bs-target].active {
  background-color: var(--secondary-color);
}

.page-header {
  color: white;
  background-color: var(--surface-color);
  padding: 15px 0;
}



#arbol {
  text-align: center;
  font-size: 28px;
  line-height: 1.1;
  margin: 30px 0;
}

@keyframes animarHojas {
  0% { color: blue; }
  25% { color: green;}
  50% { color: yellow; }
  75% { color: red; }
  100% { color: blue; }
}

@media (min-width:1520px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1440px;
  }
}

